.pic-editor-input-label {
  font-size: 13px;
  font-weight: bold;
  color: #66696b;
  margin-bottom: 12px;
}

.pic-editor-input-group {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 12px;
}

.pic-basic-list {
  padding: 16px;
  background-color: #fafafa;
  height: 100%;
  margin-bottom: 16px;
  align-items: flex-start;
  overflow-y: scroll;
}

.pic-basic-list-mb {
  margin-bottom: 32px;
}

.pic-basic-list.fix-height {
  height: 300px;
  margin-bottom: 0;
}

.pic-editor-input-text-search {
  margin: 0;
  padding: 0;
  flex: 1;
}

.pic-editor-input-btn-search {
  display: flex;
  flex: 0;
  margin: 0;
  padding: 0;
  margin-left: 4px;
}

.pic-list-separator {
  width: 16px;
  background-color: white;
  /* border-right: 1px solid #e3e3e3;
  border-left: 1px solid #e3e3e3; */
}

.pic-editor-picto-lists-container {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  height: 300px;
  padding-bottom: 36px;
}
